// plugin level css
.gaia {
    width: 400px;
    min-height: 200px;
    border-radius: 3px;
    background-color: #3ff;
    top: 0 !important;
    padding: 15px 30px;
    list-style-type: none;
    > li {
        line-height: 30px;
    }
}
